fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
pgvector>=0.3.0

alembic
pydantic-settings
python-multipart


langchain
langchain-openai
langchain-community
langchain-text-splitters

pypdf
tiktoken
openai

pytest
ruff